name: college_admission_app
description: "A College Admission Flutter App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.1.3
  # We'll add animations and fonts later
  # google_fonts: ^6.1.0
  # flutter_animate: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true